body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
img{
    display: block;
}
h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-size: inherit;
    
    font-family: inherit;
    
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul, ol {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.address-head{
    font-style: normal
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-right: 76px;
}
.logo-text{
    color: #2e2f42;
}
.link-header {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 24px;
    padding-top: 24px;
}
.link-header-studio{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-header-studio::after {
    content: '';
    border-radius: 2px;
    left: 0;
    bottom: -1px;
    width: 48px;
    height: 4px;
    position: absolute;
    background-color: #404bbf;
}
.link-header:focus, .link-header:hover{
    color: #404BBF;
}
.address-link{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    padding-bottom: 24px;
    padding-top: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus, .address-link:hover {
    color: #404BBF;
}
.business{
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}
.business-h{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.button-business{
    display: block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-business:focus, .button-business:hover {
    background-color: #404BBF;
}
.base-h-two-van{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.h-triii{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.base-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 8px;
}
.comand{
    background-color: #f4f4fd;
}
.comand-link{
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-futer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-futer-span{
    color: #f4f4fd;
}
.footer-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

header .container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.nav-link, .nav-link ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
.address-head, .address-head ul{
    display: flex;
    gap: 40px;
}
.header-link{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.opus{
    padding-top: 120px;
    padding-bottom: 120px;
}
.opus-ul{
    display: flex;
    gap: 24px;
}
.opus-li{
    width: calc((100% - 72px) / 4);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.comand{
    padding-top: 120px;
    padding-bottom: 120px;
}
.comand-ul{
    display: flex;
    gap: 24px;
}
.comand-link{
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.comand-link img{
    width: 100%;
}
.comand-link .h-triii {
    padding-bottom: 8px;
}
.div-comand{
    padding: 32px 0;
    text-align: center;
}

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-ul{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio-li{
    width: calc((100% - 48) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-li:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfilio-div{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}

.test-class{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 112px;
}
.comand-svg{
    display: flex;
    justify-content: center;
}
.comand-svg-ul{
    display: flex;
    flex-direction: row;
    gap: 24px;
    display: flex;
    justify-content: center;
}
.comand-svg-a{
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-icon{
    fill: #f4f4fd;
}
.comand-svg-a:hover, .comand-svg-a:focus{
    background-color: #404bbf;
}
.portfolio-wrapper{
    position: relative;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .portfilio-wrapper-text-p {
    transform: translateY(0);
}

.portfilio-wrapper-text-p{
    background-color: #4d5ae5;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-container{
    display: flex;
    align-items: baseline;
    
}
.footer-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-svg-ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}

.footer-svg-a {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fotter-svg ul li svg {
    fill: white;
}

.footer-svg-a:hover,
.footer-svg-a:focus {
    background-color: #31D0AA;
}
.footer-logo {
    margin-right: 120px;
}