body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
img{
    display: block;
}
h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-size: inherit;
    
    font-family: inherit;
    
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul, ol {
    list-style-type: none;
}
a{
    text-decoration: none;
}
.address-head{
    font-style: normal
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    margin-right: 76px;
}
.logo-text{
    color: #2e2f42;
}
.link-header{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 24px;
    padding-top: 24px;
}
.link-header:focus, .link-header:hover{
    color: #404BBF;
}
.address-link{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    padding-bottom: 24px;
    padding-top: 24px;
}
.address-link:focus, .address-link:hover {
    color: #404BBF;
}
.business{
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.business-h{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}
.button-business{
    display: block;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    height: 56px;
    min-width: 169px;
    margin: 0 auto;
    border-radius: 4px;
    
}
.button-business:focus, .button-business:hover {
    background-color: #404BBF;
}
.base-h-two-van{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.base-h-tri{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.base-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.comand{
    background-color: #f4f4fd;
}
.comand-link{
    background-color: #fff;
}
.footer{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.logo-futer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-futer-span{
    color: #f4f4fd;
}
.footer-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
/* Початок 3 частини */
header .container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.nav-link, .nav-link ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
.address-head, .address-head ul{
    display: flex;
    gap: 40px;
}
.header-link{
    border-bottom: 1px solid #e7e9fc;
}
/* Секція 2 */
.opus{
    padding-top: 120px;
    padding-bottom: 120px;
}
.opus-ul{
    display: flex;
    gap: 24px;
}
.opus-li{
    width: calc((100% - 72px) / 4);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.comand{
    padding-top: 120px;
    padding-bottom: 120px;
}
.comand-ul{
    display: flex;
    gap: 24px;
}
.comand-link{
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}
.comand-link img{
    width: 100%;
}
.comand-link .base-h-tri {
    padding-bottom: 8px;
}
.div-comand{
    padding: 32px 0;
    text-align: center;
}

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-ul{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.portfolio-li{
    width: calc((100% - 48) / 3);
}
.portfilio-div{
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
